{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
  <h2>Register</h2>
  <form method="post">
    <div class="mb-3">
      <label>Name</label>
      <input name="name" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Email</label>
      <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Password</label>
      <input type="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Role</label>
      <select name="role" class="form-control">
        <option value="customer">Customer</option>
        <option value="restaurant">Restaurant</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <button class="btn btn-success">Register</button>
  </form>
  {% if msg %}<div class="text-danger mt-2">{{ msg }}</div>{% endif %}
{% endblock %}
